@media  screen and (max-width: 670px) {

    header{
        display: flex;
        justify-content: space-between;
        padding: 7px;
    }

    main{
        margin-top: 50px;
    }

    main .apresentacao{
        display: block;
        align-items: center;
        justify-content: center;
        max-width: 500px;
        /* margin: auto; */
    }

    main #zooro{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 30px ;
    }
    img{
        background-image: url(../imagens/luffy-pequeno.webp), url(../imagens/zoro.cell.jpg), url(../imagens/robin-pequena.jpg); 
        background-repeat: no-repeat;
        display: block;
    }

    h1{
        text-align: center;
        padding: 5px;
        /* font-size: 2.3em; */
    }
    p{
        text-align: center;
        font-size: 1em;
    }

    .luffy{
        color: rgba(170, 76, 76, 0.815);
        font-size: 2.3em;
    }

    .zoro{
        color: rgb(26, 241, 26);
        font-size: 2.3em;
    }

    .nani{
        color: tomato;
        font-size: 2.3em;
    }

}