@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@1,600&family=DynaPuff:wght@400;500;600&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Passion+One&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,500;1,100&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@1,600&family=DynaPuff:wght@400;500;600&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Passion+One&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,500;1,100&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: auto;
}

:root {
    --fontPoppins: "Poppins", sans-serif;
    --fontSquare: "Square Peg", cursive;
    --red-300: #fc8181;
    --red-400: #f56565;
    --red-500: #e53e3e;
    --red-600: #c53030;
    --blue-300: #63b3ed;
    --blue-400: #4299e1;
    --blue-500: #3182ce;
    --blue-600: #2b6cb0;
    --cyan-300: #76e4f7;
    --cyan-400: #0bc5ea;
    --cyan-500: #00b5d8;
    --cyan-600: #00a3c4;
    --gray-300: #cbd5e0;
    --gray-400: #a0aec0;
    --gray-500: #718096;
    --gray-600: #4a5568;
    --gray-700: #2d3748;
    --gray-800: #1a202c;
    --gray-900: #171923;
    --purple-800: #bd3dbd;
}

main .apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}


main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}


main section article {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

main section article h1{
    font-size: 50px;
    line-height: 100%;
    
}

main section article p {
    margin-top: 20px;
    font-size: 21px;
    color: var(--gray-700);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:hover{
    color: #00b5d8;
}

div{
    width: 500px;
}

/* .anime{
    margin-top: 50px;
} */

iframe{
    display: block;
    width: 560px;
    margin-bottom: 50px;

}

