@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@1,600&family=DynaPuff:wght@400;500;600&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Inconsolata:wght@200;400;500;600;800;900&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Passion+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,500;1,100&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=Square+Peg&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@1,600&family=DynaPuff:wght@400;500;600&family=EB+Garamond:wght@400;500;600;700;800&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Inconsolata:wght@200;400;500;600;800;900&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Passion+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,500;1,100&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=Square+Peg&family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,400;0,500;1,500&family=Cormorant+Garamond:ital,wght@1,600&family=DynaPuff:wght@400;500;600&family=EB+Garamond:wght@400;500;600;700;800&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Inconsolata:wght@200;400;500;600;800;900&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Passion+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,500;1,100&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=Square+Peg&family=VT323&display=swap');


:root {
    --fontVT323: 'VT323', monospace;
    --fontscreen: 'Inconsolata', monospace;
    --fontpath: 'Chakra Petch', sans-serif;
    
    --red-300: #fc8181;
    --red-400: #f56565;
    --red-500: #e53e3e;
    --red-600: #c53030;
    --gray-300: #cbd5e0;
    --gray-400: #a0aec0;
    --gray-500: #718096;
    --gray-600: #4a5568;
    --gray-700: #2d3748;
    --gray-800: #1a202c;
    --gray-900: #171923;
    
}