*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: auto;
}



body{
    /* background-color: #2d3748; */

    /* possivel alteração do body e do header */
    
    background-color: rgba(187, 72, 72, 0.74);
}

header{
    background: rgba(187, 72, 72, 0.74);
}

main .apresentacao {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
}


main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}


main section article {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

main section article h1{
    font-size: 40px;
    line-height: 100%;
    color: white;
    font-family: var(--fontpath);
}


main section article p {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    font-family: var(--fontscreen);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:hover{
    color: #00b5d8;
}

div{
    width: 500px;
}
